* {
    font-family:"Raleway";
    font-size:14px;
}
div {
    display: block;
}


.round {
	border-radius: 50%;
	overflow: hidden;
	width: 200px;
	height: 200px;
    border-width: 3px;
    border-color: white;
    z-index:2;
    opacity: 1;

}


.round.center {
    margin: 20 auto;
}

@font-face {
    font-family: "Raleway";
    src: url("Raleway-Thin.ttf");
}
@font-face {
    font-family: "Raleway-Bold";
    src: url("Raleway-SemiBold.ttf");
}

.techfont {
    font-family: "Raleway";
}
.bold {
    font-family: "Raleway-Bold";
}
.bold.section-title {
    color:rgb(43, 158, 255);
    font-size: 200%;
    text-align: center;
}
.bold.white{
    color:white;
}

.techfont.white {
    color: white;
}

.techfont.black {
    color: black;
}

.font-normal {
    font-size: 100%;
}

.block{
    /* width: 150px, height: auto to retain aspect ratio */
    height: 100%;
    width: 100%;
    border: 1px solid black
}

.block.blue {
    background-color: #2b9eff;
}

.block.white {
    background-color: white;
}

.middle {
    position: relative;
    top: 20%;
}

.experience-header{
    float:left;
    width:25%;
    text-align:left;
}

.outer-pad {
    padding: 50px 100px; 
    position: relative;
}

.left {
    float: left;
    width: 40%;
}

.right {
    float: right;
    width: 40%;
}

.outer {
    padding: 20px 50px; 
    position: relative;
}

.school_description {
    float: left;
    width: 60%;
    margin-left:30px;
    text-align:left;
}

.school_info {
    float:left; 
    width:25%;
    text-align:left;
    margin-left:50px;
}

.experience_block {
    float:left;
    width:50%;
}
.experience {
    height:40%;
}
.experience_info {
    float:left;
    width:25%;
    text-align:left
}
.experience_description {
    float:right; 
    width:70%; 
    text-align:left;
}


.project_block {
    float:left;
    width:50%;
}

.col.grid-example {
  border: 1px solid #eee;
  margin: 7px 0;
  text-align: center;
  line-height: 30px;
  background-color: white;
  color: teal;
  padding: 0;
}


.category-button {
  margin: 10px;
  color: #ffffff;
  background: transparent;
  border: 1px solid #ffffff;
  width:250px;
  height:100px;
}
.category-button:hover{
    color:black;
    background: #ffffff;
    border: 1px solid #ffffff;
}

.resume-button {
  margin: 10px;
  color: #ffffff;
  background: transparent;
  border: 1px solid #ffffff;
  width:250px;
  height:150px;
  text-align:center;
}

.link-center{
    display:block;
    padding:100px;
}

@media (max-width:810px) {
    .category-button {
        width:125px;
        height:50px;
        margin:0;
    }
    .parallax-tag {
      width:50%!important;
      top:70%!important;
    }
}

@media (max-width: 992px) {
  .my-flow-text {
    font-size: 12px 
  }
  .about-me {
    font-size: 14px!important;
  }
  .exp-border-right {
    border-right: none!important;
  }
  .seal img{
    max-height: "100"!important;
    max-width: "100"!important;
  }
}

@media (max-width: 1200px) {
  .prof-exp {
    min-height: 100%;
    height:auto!important;
  }
  .about-me {
    height:auto!important;
  }
  .eductation {
    min-height: 100%;
    height:auto!important;
  }
}

@media (max-width: 400px) {
  .about-me {
    font-size:12px!important;
  }
  .title-font {
    font-size: 60px!important
  }
}

@media (max-width: 331px) {
  .title-font {
    font-size: 50px!important;
  }
}

@media (max-width: 391px) {
  .interest-text {
    font-size: 12px!important
  }
}

@media (max-width: 455px) {
  .interest-text {
    font-size:14px!important;
  }
}

.exp-border-right {
  border-right:1px solid black;
}


.homepage.overlay {
  background-color: rgba(43, 158, 255, 0.7);
  display:block;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index:1;
}

.my-circle {
    width:250px;
    height:250px;
    border-radius:50px;
    font-size:20px;
    line-height:100px;
    text-align:center;
    background:white;
    border: 2px solid black;
    margin:0;
}

.school {
    border-bottom: 1px solid #e0e0e0;
}

.navbar {
    border:0px;
    position:relative;
    left:1%;
    color:white;
    z-index:99;
}

.no-pad {
    padding:0px!important;
}

.about-me {
    font-size:16px;
}

.right {
  float:right;
}

.parallax-container {
  height:100%;
}

.colby {
  height:50%;
}

.title-font {
  font-size: 67px;
}

